.root {
    margin-top: 5px;
}

.body {
    background-color: #EDF0F8;
    padding: 8px 16px;
}

.title {
    width: 96%;
}

.header {
    background-color: #EDF0F8;

}

.closeIcon {
    position: absolute;
    right: 5px;
    top: 15px;
    cursor: pointer;


    &:hover {
        background-color: #DFE2E9;
        padding: 1px;
        border-radius: 50px;
    }
}